# IDE and OS specific files
.idea/
.vscode/
*.swp
*.swo
*~

# Python specific files
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environment
.env
.venv
env/
venv/
ENV/

# Sensitive configuration files
src/config.py

# Log files
*.log

# Data files (if large or specific to local machine)
*.csv
*.xlsx

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Coverage reports
.coverage
.coverage.*
htmlcov/
coverage.xml

# PyInstaller
#  Usually these files are written by a script, but you might want to ignore them
#  even if they are committed.
*.spec

# C extensions
*.so

# Editor directories and files
.project
.pydevproject
.settings/
.DS_Store
Thumbs.db